
.find{
    
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    box-shadow: 0 0 7px black;
    border-radius: 10px;

}
.findbtn{
    margin: 10px;
    text-align: center;
    align-items: center;
    
}

